<div id=login>

   

    <form action="" class="formulario">
        <h1>Registrate</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="user"></i>
                <input type="text" placeholder="Nombre Completo">

            </div>
            <div class="input-contenedor">
                <i class="user"></i>
                <input type="email" placeholder="Correo Electronico">

            </div>
            <div class="input-contenedor">
                <i class="user"></i>
                <input type="Password" placeholder="Password">

            </div>
            <input type="submit" value="Registrarse" class="button">
            <button id=regisgoogle class="button"> Google</button>
            <p> Ya tienes cuenta? <a href="" class="link">Iniciar Sesion</a></p>
        </div>
    </form>

</div>